<div [id]="uniqueId">
  <div class="select-menu">
    <div class="select-btn">
      <span class="sBtn-text">Select Your Option</span>
      <i class="bx bx-chevron-down"></i>
    </div>
    <ul class="options">
      <li class="option">
        <i class="bx bxl-github" style="color: #171515"></i>
        <span class="option-text" data-value="github">Github</span>
      </li>
      <li class="option">
        <i class="bx bxl-instagram-alt" style="color: #e1306c"></i>
        <span class="option-text" data-value="instagram">Instagram</span>
      </li>
      <li class="option">
        <i class="bx bxl-linkedin-square" style="color: #0e76a8"></i>
        <span class="option-text" data-value="linkedIn">LinkedIn</span>
      </li>
      <li class="option">
        <i class="bx bxl-facebook-circle" style="color: #4267b2"></i>
        <span class="option-text" data-value="facebook">Facebook</span>
      </li>
      <li class="option">
        <i class="bx bxl-twitter" style="color: #1da1f2"></i>
        <span class="option-text" data-value="twitter">Twitter</span>
      </li>
    </ul>
  </div>
</div>
